header nav ul .nav-calculadora .nav-principal{ /*  nav selecionada */
    background: linear-gradient(to left, #3D71E6, #3DC7E6);
    color: #fff;
}

header nav ul .nav-calculadora .options a:nth-child(3) { /*  item nav selecionada */
    background-color: #3D71E6;
    color: #fff;
}

/*------------------------------------------------------------------- */
/*------------------------------------------------------------------- */

main {
    width: 75%;
    margin: auto;
    padding-top: 100px;
}

section {
    margin-bottom: 50px;
}